<!DOCTYPE html>
<html lang="en">
<head>
<style>
  h1 {

    text-decoration: underline;
  }
</style>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title> RAD </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"> <img src="https://68.media.tumblr.com/501da872dc77700b5e719c8633d516dc/tumblr_om5p65doaI1utfncso1_100.png"></a> 
      <ul class="right hide-on-med-and-down">
        <li>
          <nav>
          <div class="nav-wrapper teal">
          <form>
          <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav></li>
  <li> <a href="contact.html">1-800 HOTLINE BLING</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><a href="duh.html" class="waves-effect waves-light" >Good Vibes</a></h1>
        <div class="row center">
          <h5 class="header col s12  black-text">Do everything, regret nothing.</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://smoothwavesonline.files.wordpress.com/2014/08/wiz_khalifa_live_klipsch_indianapolis_2013-51.jpg"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">“while your busy tryna' fit in, imma stand out!”</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">“You know life is what we make it, and a chance is like a picture, it’d be nice if you just take it.”</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">“All in all I learned a lesson from it though, you never see it coming you just get to see it go.” </h5>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">I have an idea of who I want to be, I have a vision of my own success.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://drwallpaper.com/wp-content/uploads/2016/02/wiz_khalifa_wallpaper_hd_background_download_desktop.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>IDK</h4>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://68.media.tumblr.com/5b98cd7dbb56ddf774dfaf309df4f382/tumblr_o0unf7PVCt1v4mpb7o1_1280.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
